# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
DiveBomberEngine/DirectXTex/Shaders/Compiled
SampleProject/Asset/Shader/Built

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build File
.vs
x64
